---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import getGitHubRepos from '@adapters/getGitHubRepos';
import Button from '@components/Button';
import MobileMenu from '@components/MobileMenu';
import Menu from '@components/Menu';
import profileImage from '@images/profile.png';
import contactImage from '@images/contact.png';
import arrowBottomIcon from '@icons/arrow-bottom.svg';
import linkedinIcon from '@icons/linkedin.svg';
import githubIcon from '@icons/github.svg';

const repos = await getGitHubRepos('heraldofortuna');
---

<Layout>
	<header id="home">
		<div class="h-[60px] md:h-[80px] flex items-center justify-between gap-[16px]">
			<div>
				<span class="md:text-2xl font-semibold">Heraldo Fortuna</span>
			</div>
			<MobileMenu client:load />
			<nav class="hidden md:block">
				<ul class="flex items-center gap-[32px]">
					<li class="cursor-pointer"><a href="#about">About</a></li>
					<li class="cursor-pointer"><a href="#work">Work</a></li>
					<li class="cursor-pointer"><a href="#contact">Contact</a></li>
				</ul>
			</nav>
			<div class="hidden md:block">
				<ul class="flex items-center gap-[16px] md:gap-[32px]">
					<li class="cursor-pointer">
						<a href="https://www.linkedin.com/in/heraldo-fortuna/" target="_blank"><Image src={linkedinIcon} width={32} height={32} alt="Heraldo Fortuna Linkedin profile site." /></a>
					</li>
					<li class="cursor-pointer">
						<a href="https://github.com/heraldofortuna" target="_blank"><Image src={githubIcon} width={32} height={32} alt="Heraldo Fortuna Github profile site." /></a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<div class="flex flex-col gap-[32px] md:gap-[64px] pb-[32px] md:pb-[64px]">
			<Menu client:load />

			<section class="h-custom-hero-mobile md:h-custom-hero">
				<div class="relative h-full flex flex-col md:flex-row-reverse md:items-center justify-between gap-[16px] md:gap-[32px] pb-[16px]">
					<div class="flex items-center justify-center">
						<Image src={profileImage} alt="My profile picture." />
					</div>
					<div class="flex flex-col gap-[32px]">
						<h1 class="flex flex-col gap-[4px] md:gap-[8px] text-center md:text-left text-xl md:text-3xl font-medium">
							Hello, I'm Heraldo,
							<div class="flex flex-col">
								<span class="text-5xl md:text-8xl font-extrabold">Frontend</span>
								<span class="text-5xl md:text-8xl font-extrabold">Developer</span>
							</div>
							based in Lima, Peru.
						</h1>
						<div class="hidden md:block">
							<a href="/cv-heraldo-fortuna.pdf" download="Heraldo_Fortuna_CV.pdf">
								<Button client:load text="Resume" />
							</a>
						</div>
					</div>
					<div class="block md:hidden">
						<Button client:load text="Resume" hasFullWidth />
					</div>
					<a href="#about" class="hidden absolute bottom-[16px] left-1/2 transform -translate-x-1/2 -translate-y-1/2 md:flex items-center justify-center cursor-pointer transition-transform duration-300 hover:translate-y-[2px]">
						<Image src={arrowBottomIcon} width={40} height={40} alt="Bottom arrow for move to about section." />
					</a>
				</div>
			</section>

			<section id="about">
				<div class="flex flex-col gap-[32px] md:gap-[48px]">
					<div class="flex flex-col gap-[16px] md:32px">
						<h2 class="text-too-light-yellow text-5xl md:text-8xl font-extrabold">about.</h2>
						<p class="md:w-[75%] md:text-lg">
							Senior Frontend Developer with 5+ years of experience specializing in modern architectures (Vue3, React, TypeScript) and VTEX ecosystems. I led the development of scalable PWAs at Culqi (Vite, Astro, Nanostores) and implemented CMS-Headless integrations (Contentful + VTEX IO) for Beautycounter USA. Expert in performance optimization, state patterns (Redux, GraphQL), and full-stack development (Kotlin, Node.js). PCEP certified and focused on robust solutions with TypeScript and Clean Code.
						</p>
					</div>
					<div class="flex flex-col md:items-end">
						<ul class="md:w-[75%] flex flex-col gap-[16px] md:gap-[32px] md:text-lg">
							<li class="flex flex-col gap-[4px]">
								<h3 class="font-semibold">Culqi</h3>
								<span class="italic">dec 2023 - Present</span>
								<p>Lead the PWA application team where we developed 'My Sales,' 'Payroll Account,' 'Support,' and 'Counters.' From scratch.</p>
								<p>Work with technologies such as Vue3, Vite, Astro, PWA config, Axios, TypeScript, and Nanostores.</p>
							</li>
							<li class="flex flex-col gap-[4px]">
								<h3 class="font-semibold">Valtech</h3>
								<span class="italic">feb 2022 - set 2023</span>
								<p>Work on the integration of Contentful software with VTEX on the Beautycounter USA project.</p>
								<p>Participate in two other projects for the company: Arredo and MasOnline, using technologies such as VTEX Legacy, VTEX IO, React, Node.js, jQuery, GraphQL, jQuery, HTML, and CSS.</p>
							</li>
							<li class="flex flex-col gap-[4px]">
								<h3 class="font-semibold">Sugo°</h3>
								<span class="italic">feb 2022 - jul 2022</span>
								<p>Manage the VTEX vendor manager functionality in the CMS, catalog, and master data, increasing efficiency by 50%.</p>
								<p>Lead the maintenance team, managing tickets and achieving a 95% resolution rate.</p>
							</li>
							<li class="flex flex-col gap-[4px]">
								<h3 class="font-semibold">Wird</h3>
								<span class="italic">may 2021 - oct 2021</span>
								<p>Part of the product team, creating new applications and improving existing ones.</p>
								<p>Work using React + TypeScript + Redux to program robust applications.</p>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section id="work">
				<div class="flex flex-col gap-[32px] md:gap-[48px]">
					<div class="flex flex-col gap-[16px] md:32px">
						<h2 class="text-too-light-yellow text-5xl md:text-8xl font-extrabold">work.</h2>
						<p class="md:w-[75%] md:text-lg">Here are some of the projects I've worked on. Each one showcases my skills in frontend development, from creating responsive layouts to implementing complex features. You can find detailed descriptions and links to the code repositories. I'm proud of these projects and the learning opportunities they provided.</p>
					</div>
					<ul class="grid grid-cols-1 md:grid-cols-3 gap-[16px] md:gap-[32px]">
						{
							repos.map((repo: any) => (
								<li>
									<a href={repo.url} target="_blank" class="flex flex-col gap-[4px] md:gap-[8px]">
										<div>
											<Image src={repo.image} class="w-full md:h-[300px]" width={300} height={300} alt={repo.name} />
											<span class="text-xs md:text-sm italic">{repo.date}</span>
										</div>
										<h3 class="md:text-lg font-semibold">{repo.name}</h3>
										<p class="text-sm md:text-base">{repo.description}</p>
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</section>

			<section id="contact">
				<div class="flex flex-col gap-[32px] md:gap-[48px]">
					<div class="flex flex-col gap-[16px] md:32px">
						<h2 class="text-too-light-yellow text-5xl md:text-8xl font-extrabold">contact.</h2>
					</div>
					<div class="flex flex-col md:flex-row gap-[16px] md:gap-[32px]">
						<div class="w-full md:w-[40%]">
							<Image src={contactImage} alt="Contact section." />
						</div>
						<div class="w-full md:w-[60%] flex flex-col gap-[16px] md:gap-[32px]">
							<p class="md:text-lg">If you'd like to work with me or have any questions, don't hesitate to get in touch. I am available for frontend development projects, collaborations, and consultations. You can send me an email, connect with me on LinkedIn, or follow me on GitHub to see my latest work and contributions.</p>
							<ul class="md:text-lg">
								<li>heraldofortuna@gmail.com</li>
								<li>linkedin.com/in/heraldo-fortuna</li>
								<li>github.com/heraldofortuna</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
</Layout>